.row{   

    background-color:black;
    color:white;
    font-size:20px;
}

.oliviaImg {
    height: 50px;
    width: 65%;
}

.rowFooter{
 display: flex; 
 justify-content: space-around; 
 text-align: center;
 background-color: #F5F5F5;
}

.rowContact {
 background-color: #F5F5F5;    
}

.rowAboutMe {
   background-color: #F5F5F5;
}

body {
 font-family: 'Montserrat', sans-serif;
}

h1 {
 display: flex; 
 justify-content: space-around; 
 text-align: center;   
 
}

.headshot{
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}