.row{   

    background-color:black;
    color:white;
    font-size:20px;
}

.rowFooter{
 display:flex; 
 justify-content:space-around; 
 text-align: center;
 background-color: #F5F5F5;
}

.rowContact {
 background-color: #F5F5F5;    
 text-align: center;
}

.rowaboutme {
   background-color: #F5F5F5;
}

.port{
    display: flex;
    justify-content: center;
}


  /* background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjq1auO8N7gAhXthOAKHRCgBSUQjRx6BAgBEAU&url=https%3A%2F%2Fweheartit.com%2Fentry%2F234541364&psig=AOvVaw1MXz9UwyrJg8qcICyfXh-H&ust=1551458678560325") ;
*/
 


body {
 font-family: 'Montserrat', sans-serif;
 background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/blue-watercolor-background-panupong-lithkai.jpg");
 border: 10px black;
 border-style: double dotted;
color: black;
}

h1 {
 font-family: 'Kaushan Script', cursive;
 display: flex; 
 justify-content: space-around; 
 text-align: center;   
 
}

#oliviaimg {
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
     margin-left: auto; 
     margin-right: auto;
  
}

.headshot{
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4F2F6;
}

.mid{
    background-color: #C4F2F6;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}

.aboutme{
    border:1px solid black;   
}

p {
    font-family: 'Kaushan Script', cursive;
}